DJANGO_SECRET_KEY=change_for_safety
DJANGO_DEBUG=True

POSTGRES_DB=teamfinder
POSTGRES_USER=teamfinder_user
POSTGRES_PASSWORD=teamfinder_pass
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

TASK_VERSION=1